# Только учебные значения. Для локальной лабораторной.
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
JUPYTER_TOKEN=spark
CLICKHOUSE_USER=spark
CLICKHOUSE_PASSWORD=spark
CLICKHOUSE_DB=gold
